body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}

.flex {
    flex: 1;
}

.flexible {
    display: flex;
}

h1 > a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.shell, .shell-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.shell {
    min-width: 300px;
    max-width: 1200px;
}

.rd-navbar-panel {
    min-width: 220px;
}

.container {
    .navbar-wrap {
        display: block;
        height: 70px;
        flex: 1;
    }

    .rd-navbar-static {
        position: fixed;
        background: #ffffff;
        box-shadow: 0 1px 2px rgba(68, 73, 83, 0.12);
        padding: 0 20px;
        width: auto;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .header {
        display: flex;
        max-width: 1200px;
        flex: 1;
        height: 70px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: left;

        .logo-block {
            text-align: left;
            display: block;
            position: relative;
            line-height: 70px;
            width: 220px;
            height: 70px;

            h1 {
                font-family: Grand Hotel;
                font-weight: normal;
                margin: 0;
                height: 0;
                font-size: 50px;

                span {
                    color: #e8ef1f;
                }
            }
        }

        ul {
            align-items: stretch;
            list-style: none;
            padding: 0;
            height: 40px;
            margin: 0;
            text-align: center;
            line-height: 70px;
            padding: 15px;
            line-height: 30px;
            font-size: 13px;
            font-family: "Lato",Helvetica,Arial,sans-serif;
        }

        ul li + li {
            border-left: 1px solid #d1d1d1;
        }

        ul.menu > li {
            padding-left: 20px;
            padding-right: 20px;
        }

        ul > li {
            display: inline;

            a {
                position: relative;
                display: block;
                text-transform: uppercase;
                font-weight: 700;
                background: transparent;
                vertical-align: middle;
                transition: 300ms;
                line-height: 40px;
            }
        }
    }

    .range {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px auto;
        max-width: 1200px;

        .cell {
            flex-basis: 50%;
            max-width: 50%;
            flex: 0 0 auto;
            height: 321px;
            width: 570px;
            overflow: hidden;
            position: relative;
            margin: 10px 15px;

            img {
                max-width: 570px;
                position: absolute;
                top: -9999px;
                bottom: -9999px;
                left: -9999px;
                right: -9999px;
                margin: auto;
            }

            .shadow
            {
                position: absolute;
                /*z-index: 100;*/
                width: 570px;
                height: 321px;
                -webkit-box-shadow: inset 6px -80px 120px 20px rgba(0,0,0,0.75);
                -moz-box-shadow: inset 6px -80px 120px 20px rgba(0,0,0,0.75);
                box-shadow: inset 6px -80px 120px 20px rgba(0,0,0,0.75);
            }

            .title {
                position: absolute;
                display: block;
                top: 30px;
                left: 30px;
                background-color: #FFD800;
                font-size: 16px;
                padding: 9px 10px;
                color: #fff;
                white-space: nowrap;
                transition: .3s;
                font-weight: 300;
                font-style: italic;
                font-family: "Lato", Helvetica, Arial, sans-serif;
            }

            .title-section {
                position: absolute;
                display: block;
                bottom: 30px;
                left: 30px;
                color: #fff;

                .receipt-title {
                    white-space: nowrap;
                    transition: .3s;
                    color: inherit;
                    text-decoration: none;
                    font-size: 24px;
                }

                .fa {
                    font-size: 20px;
                }

                span {
                    color: #FFD800;
                }
            }
        }
    }
}